@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Arimo');

$fontPrimary: 'Open Sans', sans-serif;
$fontSecondary: 'Arimo', sans-serif;

$headerHeight: 50px;
$headerBg: #aaa;

$backgroundPrimary: #eee;
$textPrimary: #222;

$containerMarginLg: 15px;
